{% load static %}
<!--DOCTYPE html -->
<html>
<head>
<title>{% block head_title %}Vimm0 blog{% endblock head_title %}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' >
<link rel='stylesheet' href='{% static "css/base.css" %}' />
<style>
{% block style %}{% endblock style %}
</style>
{% block head_extra %} {% endblock head_extra %}
</head>
<body>
<div id="fb-root"></div>
                <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>


{% include "messages_display.html" %}


    <div class='container col-sm-8 col-md-9' > 
    <ol class='breadcrumb '>
        <li><a href='{% url "posts:list" %}'>Home</a></li>
        {% block post_detail_link %}
        {% endblock %}

        {% if not request.user.is_authenticated %}
        <li class='pull-right'><a href='{% url "register" %}'>Register</a></li>
        <li class='pull-right'><a href='{% url "login" %}'>Login</a></li>
        {% else %}
        <li class='pull-right'><a href='{% url "logout" %}'>Logout</a></li>
        {% endif %}
    </ol>

        <div class="panel panel-default" style="border:0; background-color:#FFFFFF;">
          <div class="panel-body">
                                  {% block content %}{% endblock content %}
          </div>
          <div class="panel-footer">
   <style>
   body{
    /*font-family: 'Poppins',sans-serif;*/
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
   </style>
    <p class="text-center">Made with <i class="fa fa-heart-o" aria-hidden="true"></i> having excessive <i class="fa fa-coffee" aria-hidden="true"></i> and <i class="fa fa-music" aria-hidden="true"></i> <br>by vimm0.<br>Powered by Django.</p>
          </div>
        </div>
        </div>
    </div>
    
   <!-- Footer -->

 <!-- <div class="panel-footer">

            <style>body{/*font-family: 'Poppins',sans-serif;*/
                    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
                        }</style>
    <p class="text-center">Made with <i class="fa fa-heart-o" aria-hidden="true"></i> having excessive <i class="fa fa-coffee" aria-hidden="true"></i> and <i class="fa fa-music" aria-hidden="true"></i> <br>by vimm0.<br>Powered by Django.
    </p>
</div> -->

<!--sidebar-->
<div class="col-sm-4 col-md-3">
            <div class="panel panel-default" style="border:0; background-color:#f5f5f5;">
                <div class="panel-body">
                    <h3 style="text-align: center;"><img src="http://www.icon2s.com/wp-content/uploads/2013/07/black-white-metro-python-icon.png" eight="28" width="28" /> Python Learning</h3>
                </div>
            </div>
        </div>
<!-- <div class="col-sm-4 col-md-3">
            <div class="panel panel-default" style="border:0; background-color:#f5f5f5;">
                <div class="panel-body">
                    <a href="#">
                       Recent Post
                    </a>
                    <h1>sometext <small>another</small></h1>
                    <h2>yeah another</h2>
                </div>
            </div>
        </div>
 -->

<!-- Latest compiled and minified JavaScript -->
<script   src="http://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js'></script>

<script type="text/javascript">
$(document).ready(function(){
    $(".content-markdown").each(function(){
            var content = $(this).text()
            var markedContent = marked(content)
            $(this).html(markedContent)
    })
    $(".post-detail-item img").each(function(){
            $(this).addClass("img-responsive");
    })

    

    var contentInput = $("#id_content");

    function setContent(value){
        var markedContent = marked(value)
        $("#preview-content").html(markedContent)
        $("#preview-content img").each(function(){
            $(this).addClass("img-responsive")
        })
    }
    setContent(contentInput.val())

    contentInput.keyup(function(){
        var newContent = $(this).val()
        setContent(newContent)
    })

    var titleInput = $("#id_title");
    


    function setTitle(value) {
        $("#preview-title").text(value)
    }
    setTitle(titleInput.val())

    titleInput.keyup(function(){
        var newContent = $(this).val()
        setTitle(newContent)
    })

    $(".comment-reply-btn").click(function(event){
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
    })
    // preview-title
    // preview-content

})

</script>

</body>
</html>




